@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SpoqaHanSansNeo-Regular";
}

.headerWrap {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 5px 0px #0000001a;
}
.topNavigationBar {
  max-width: 1280px;
  margin: 0 auto;
}
.topNavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0px;
  background-color: white;
}

.headerLeftWrap {
  display: flex;
  align-items: center;
}

#logo {
  margin-right: 30px;
}

.headerLeftWrap input[type="search"] {
  width: 400px;
  height: 46px;
  padding: 13px 22px;
  border: 2px solid #21bf48;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
}
#search {
  transform: translateX(-50px);
}
.headerRightWrap {
  display: flex;
  align-items: center;
}

.headerRightWrap a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 26px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.headerRightWrap img {
  margin-bottom: 5px;
}
#shoppingCart {
  width: 100%;
  color: #21bf48;
}
.topNavigationBar input {
  border: 2px solid #21bf48;
  border-radius: 50px;
}
.shoppingCartWrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
.shoppingCart {
  width: 100%;
}
.shoppingCart h2 {
  font-weight: 700;
  font-size: 36px;
  margin-top: 54px;
  margin-bottom: 52px;
}
.shoppingCartInfo {
  display: grid;
  grid-template-columns: 40px 4fr 2fr 2fr;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 19px;
  padding-bottom: 18px;
}
.shoppingCartInfo button {
  border: none;
  background: none;
}
#checkbox {
  margin-right: 314px;
  margin-left: 30px;
  width: 20px;
  height: 20px;
}
.productsContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
.productDiv {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 2fr 2fr 2fr 2fr 0.2fr;
  align-items: center;
  border: 2px solid #E0E0E0;
  border-radius: 10px;
}
.productCheck {
  margin-top: 90px;
  margin-left: 30px;
  width: 20px;
  height: 20px;
}
.productImage {
  width: 160px;
  height: 160px;
  object-fit: fill;
  margin: auto;
  padding: 20px 0px;
  border-radius: 10px;
}
.storeName {
  font-weight: 400;
  font-size: 14px;
  color: #767676;
}
.productName {
  font-weight: 400;
  font-size: 18px;
  width: 418px;
}
.price {
  font-weight: 700;
  font-size: 16px;
}
.price::after {
  content: "원";
}
.countContainer {
margin: auto;
}
.count {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 50px;
  height: 50px;
}
.decreaseButton,
.increaseButton {
  width: 50px;
  height: 50px;
}
.totalProductPrice{
  color: #EB5757;
  text-align: center;
}
.totalProductPrice::after{
  content: '원';
}
.deleteButton {
  border: none;
  background-image: url(./src/icon-delete.svg);
  width: 22px;
  height: 22px;
  background-color:transparent;
}