@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.headerWrap,
.articleWrap,
.footerWrap {
  width: 100%;
}

header,
article,
footer {
  max-width: 550px;
  margin: 0 auto;
}
#logo {
  width: 238px;
  height: 74px;
}
header {
  display: flex;
  justify-content: center;
}
article {
  display: flex;
  flex-direction: column;
}
.membershipWrap {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
#buyerMembership,
#sellerMembership {
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 20px 88px 38px 87px;
}
#sellerMembership {
  background-color: #f2f2f2;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-sizing: border-box;
}
#btnConfirm {
  width: 122px;
  height: 54px;
  border: none;
  border-radius: 5px;
  background-color: #21bf48;
  margin-left: 12px;
  color: #ffffff;
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 16px;
  font-weight: 500;
}
.formGroup:nth-child(1) {
  margin-top: 58px;
}
.formGroup:nth-child(2) {
  margin-top: 42px;
}
.formGroup:nth-child(3) {
  margin-top: 12px;
}
.formGroup:nth-child(4) {
  margin-top: 50px;
}
.formGroup:nth-child(5) {
  margin-top: 16px;
}
#id {
  width: 346px;
  height: 54px;
}
